


/* ######## 1024 to 768 ######## */
 
@media only screen and (max-width: 1065px){

    /* ############ fonts ############ */

    h1{
        font-size: 110px;
        margin: 120px 0;
        width: auto;
        width: 880px;
    }

    h2{
        font-size: 38px;
    }

    p{
        font-size: 16px;
    }

    li p,
    a{
        font-size: 16px;
    }

    /* ############ general ############ */

    /* ############ borders ############ */

    /* ############ nav ############ */

    /* ############ main ############ */

    main img{
        max-width: 736px;
    }

    main .top{
        margin-top: 80px;
    }

    /* ############ article ############ */

    article .top{
        margin-bottom: -0.5em;
    }

    article img{
        max-width: 334px;
    }

    article .content{
        margin-bottom: 60px;
    }

    article .border{
        margin-top: 80px;
    }

    /* ############ section ############ */

    section h1{
        margin-bottom: 100px;
    }

    section .featured{
        max-height: 5000px;
    }
    
    section .project{
        margin-bottom: 80px;
    }

    section img,
    section p{
        max-width: 318px;
    }

    section .space{
        width: 52px;
    }

    /* ############ footer ############ */

    footer h1{
        margin-top: 160px;
        margin-bottom: 80px;
    }

    footer > h2{
        margin-bottom: 60px;
    }

    footer .border{
        margin-top: 120px;
    }
}




/* ######## 768 to 640 ######## */

@media only screen and (max-width: 895px){

    /* ############ fonts ############ */

    header nav ul li{
        display: none;
    }

    .burger{
        display: inline;
    }

    .logo,
    .burger{
        margin: 40px;
    }

    h1{
        font-size: 80px;
        margin: 100px 0;
        width: auto;
        width: 640px;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    li p,
    a{
        font-size: 10px;
    }

    /* ############ general ############ */

    /* ############ borders ############ */

    /* ############ nav ############ */

    /* ############ main ############ */

    main img{
        max-width: 560px;
    }

    main .top{
        margin-top: 60px;
    }

    /* ############ article ############ */

    article .top{
        margin-bottom: -0.5em;
    }

    article img{
        max-width: 240px;
    }

    article .content{
        margin-bottom: 60px;
    }

    article .border{
        margin-top: 80px;
    }

    /* ############ section ############ */

    section h1{
        margin-bottom: 80px;
    }

    section .featured{
        max-height: 4000px;
    }
    
    section .project{
        margin-bottom: 60px;
    }

    section img,
    section p{
        max-width: 240px;
    }

    section .space{
        width: 32px;
    }

    /* ############ footer ############ */

    footer h1{
        margin-top: 140px;
        margin-bottom: 60px;
    }

    footer > h2{
        margin-bottom: 40px;
    }

    footer .border{
        margin-top: 60px;
    }

}




/* ######## 640 to 375 ######## */

@media only screen and (max-width: 640px){

    /* ############ fonts ############ */

    header nav ul li{
        display: none;
    }

    .burger{
        display: inline;
    }

    .logo,
    .burger{
        margin: 20px;
    }

    h1{
        font-size: 48px;
        margin: 40px 0;
        width: auto;
        width: 335px;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    li p,
    a{
        font-size: 12px;
    }

    ul li h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 2em;
        
        text-transform: uppercase;
        padding: 0;
    }

    .logo img{
        width: 52px;
    }

    /* ############ general ############ */

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    /* ############ borders ############ */

    footer nav,
    footer .border,
    article .border{
        width: 335px;
    }

    /* ############ nav ############ */

    nav{
        height: 60px;
    }

    /* ############ main ############ */

    main img{
        max-width: 335px;
    }

    main .top{
        margin-top: 40px;
    }

    main .mobile{
        margin-bottom: 50px;
    }

    /* ############ article ############ */

    article .top{
        margin-bottom: -0.5em;
    }

    article img{
        max-width: 335px;
    }

    article p{
        margin: 0;
        margin-top: 16px;
    }

    article .content{
        width: 335px;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 32px;
    }

    article .border{
        margin-top: 40px;
    }

    /* ############ section ############ */

    section h1{
        margin-bottom: 40px;
    }

    section .asymmetric{
        display: none;
    }

    section .featured{
        max-height: 40000px;
        align-items: center;
    }
    
    section .project{
        margin-bottom: 48px;
        flex-direction: column;

    }

    section .project,
    section .content,
    section img,
    section p{
        max-width: 335px;
    }

    section .space{
        justify-content: flex-start;
    }

    section .vertical{
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    section .vertical p{
        padding: 0;
        margin-bottom: 0.5em;
    }

    .featured > :nth-child(1n+1){ order: 1; }
    .featured > :nth-child(1n){ order: 2; }

    /* ############ footer ############ */

    footer h1{
        margin-top: 80px;
        margin-bottom: 40px;
    }

    footer > h2{
        font-size: 16px;
        margin-bottom: 40px;
    }

    footer .border{
        margin-top: 40px;
    }

    footer nav{
        width: 335px;
        height: auto;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    footer nav > :nth-child(1){ order: 2; }
    footer nav > :nth-child(2){ order: 1; }
    footer nav > :nth-child(3){ order: 3; }

    footer nav ul li a:not(.cv),
    footer nav a{
        padding: 0;
        margin: 0;
    }

    footer nav ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu .cv,
    footer .cv{
        width: 335px;
        height: 52px;
        min-height: 52px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 16px;
        background-color: black;
        color: white;
        margin: 40px 0;
    }

    .menu nav{
        height: 60px;
    }
    
    .menu ul,
    .menu .cv{
        width: 335px;
    }

}







/* ######## 640 to 375 ######## */

@media only screen and (max-width: 320px){

    /* ############ fonts ############ */

    header nav ul li{
        display: none;
    }

    .burger{
        display: inline;
    }

    .logo,
    .burger{
        margin: 20px;
    }

    h1{
        font-size: 40px;
        margin: 40px 0;
        width: auto;
        width: 280px;
    }

    h2{
        font-size: 24px;
    }

    p{
        font-size: 14px;
    }

    li p,
    a{
        font-size: 10px;
    }

    ul li h2{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
        line-height: 2em;
        
        text-transform: uppercase;
    }

    .logo img{
        width: 52px;
    }

    /* ############ general ############ */

    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
    }

    /* ############ borders ############ */

    footer nav,
    footer .border,
    article .border{
        width: 280px;
    }

    /* ############ nav ############ */

    nav{
        height: 60px;
    }

    /* ############ main ############ */

    main img{
        max-width: 280px;
    }

    main .top{
        margin-top: 40px;
    }

    main .mobile{
        margin-bottom: 34px;
    }

    /* ############ article ############ */

    article .top{
        margin-bottom: -0.5em;
    }

    article img{
        max-width: 280px;
    }

    article p{
        margin: 0;
        margin-top: 16px;
    }

    article .content{
        width: 280px;
        margin-bottom: 60px;
        flex-direction: column-reverse;
        align-items: center;
        margin-bottom: 32px;
    }

    article .border{
        margin-top: 40px;
    }

    /* ############ section ############ */

    section h1{
        margin-bottom: 40px;
    }

    section .asymmetric{
        display: none;
    }

    section .featured{
        max-height: 40000px;
        align-items: center;
    }
    
    section .project{
        margin-bottom: 48px;
        flex-direction: column;

    }

    section .project,
    section .content,
    section img,
    section p{
        max-width: 280px;
    }

    section .space{
        justify-content: flex-start;
    }

    section .vertical{
        writing-mode: horizontal-tb;
        transform: rotate(0deg);
    }

    section .vertical p{
        padding: 0;
        margin-bottom: 0.5em;
    }

    .featured > :nth-child(1n+1){ order: 1; }
    .featured > :nth-child(1n){ order: 2; }

    /* ############ footer ############ */

    footer h1{
        margin-top: 80px;
        margin-bottom: 32px;
    }

    footer > h2{
        font-size: 16px;
        margin-bottom: 32px;
    }

    footer .border{
        margin-top: 40px;
    }

    footer nav{
        width: 280px;
        height: 180px;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-top: 40px;
        margin-bottom: 40px;
    }

    footer nav > :nth-child(1){ order: 2; }
    footer nav > :nth-child(2){ order: 1; }
    footer nav > :nth-child(3){ order: 3; }

    footer nav ul li a:not(.cv),
    footer nav a{
        padding: 0;
        margin: 0;
    }

    footer nav ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .menu .cv,
    footer .cv{
        width: 280px;
        height: 52px;
        min-height: 52px;
    
        display: flex;
        align-items: center;
        justify-content: center;
    
        font-size: 16px;
        background-color: black;
        color: white;
        margin: 40px 0;
    }

    .menu nav{
        height: 60px;
    }
    
    .menu ul,
    .menu .cv{
        width: 280px;
    }

}



