



/* ############ fonts ############ */

h1{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 132px;
    line-height: 1em;
    
    letter-spacing: 0.02em;

    margin: 150px 0;
}

/* extra */
h1{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;

    width: auto;
    width: 1050px;
}

h2{
    font-family: Playfair Display;
    font-style: normal;
    font-weight: bold;
    font-size: 42px;
    line-height: 0.95em;
    
    letter-spacing: 0.02em;

    text-transform: none;
}

p{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.56em;
}


li p,
a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25em;

    text-transform: uppercase;

    text-decoration: none;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}


.cv img{
    width: 24px;
}

.logo img{
    width: 71px;
}




/* ############ general ############ */

*{
    padding: 0;
    margin: 0;
}

html, 
body{
    width: 100%;
    height: 100%;
}

footer,
header,
section,
article,
main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header,
footer,
main{
    background-color: #E0E0E0;
}

a{
    color: black;
}

.burger,
.mobile{
    /* display: none; */
}

a,
ul,
ul li,
ul li a{
    display: flex;
    align-items: center;
}

.vertical{
    writing-mode: vertical-lr;
    transform: rotate(-180deg);
    align-self: flex-start;
    text-transform: uppercase;
}




/* ############ borders ############ */

header .border{
    width: 100%;
}

footer nav,
footer .border,
article .border{
    width: max(1108px, 90%);
    width: 1108px;
    width: min(90%, 1108px);
}

/* ############ nav ############ */

nav{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li a:not(.cv){
    margin: 28px;
    margin: 2vw;
}

header .cv{
    padding: 38px 28px;
    margin-left: 2vw;
    background-color: black;
    color: white;
    
}


.logo{
    margin-left: 166px;
    margin-left: 11.528vw;
}

.close{
    margin-right: 166px;
    margin-right: 11.528vw;
}



/* ############ main ############ */

main .project{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

main .space{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

main img{
    max-width: 824px;
}

main .top{
    margin-top: 80px;
}

main .top{
    margin-bottom: -0.31em;
    z-index: 3;
    position: relative;
    /* position: relative must to use with z-index */
}

main .bottom{
    margin-top: -0.56em;
    z-index: 3;
    position: relative;
    /* position: relative must to use with z-index */
}




/* ############ article ############ */

article .top{
    margin-bottom: -1.3em;
    z-index: 3;
    position: relative;
    /* position: relative must to use with z-index */
}

article img{
    max-width: 432px;
}

article p{
    margin-right: 2vw;
    margin-bottom: 1vw;
}

article .content{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}

article .border{
    margin-top: 100px;
}




/* ############ section ############ */

section{
    width: 100%
}

section h1{
    margin-bottom: 100px;
    /* margin-bottom: max(80px, 6.944vw); */
}

section .featured{
    max-height: 6400px;
    /* background-color: pink; */
    width: 100%;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-content: center;
}

section .featured{ direction: rtl; }

section .project{ direction: ltr; }

.featured > :nth-child(2n+1){ order: 1; }
.featured > :nth-child(2n){ order: 2; }

section .asymmetric{
    /* height is not nesseary because of margin-bottom of project */
    margin-bottom: 0;
}

section .project{
    margin-bottom: 100px;
    display: flex;
}

section .content{
    display: flex;
    flex-direction: column;
}

section a{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

section img,
section p{
    max-width: 416px;
}

section .vertical p{
    padding-left: 1em;
    padding-right: 1em;
    padding: 0 1em 0 1em;
}

section .space{
    width: 52px;
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
}

section h2{
    margin-top: 0.5em;
    margin-bottom: 0.2em;
}

.number{
    display: none;
}




/* ############ footer ############ */

footer{
    width: 100%;
}

footer h1{
    margin-top: 200px;
    margin-bottom: 100px;
}

footer h2{
    margin: 0;
}

footer > h2{
    margin-bottom: 60px;
}

footer .border{
    margin-top: 150px;
}




/* ############ padding ############ */

header nav li a:not(.cv),
footer nav li a{
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid transparent;
}

main .vertical p,
.vertical a{
    padding-right: 0.5em;
    padding-left: 0.5em;
    border-left: 2px solid transparent;
}

.menu ul li h1,
li h2,
section h2{
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border-bottom: 2px solid transparent;
}




/* ############ menu ############ */


.menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    display: block;
    display: none;
}

.menu main{
    height: 85%;
    width: min-content;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    justify-content: space-between;
}

.menu ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
    width: 560px;
}

.menu ul li h1{
    width: auto;
    margin: 0.25em 0;
    text-transform: capitalize;
}

.menu ul li h2{
    margin: 80px 0;
    padding: 0;
}


.menu .cv{
    width: 560px;
    height: 70px;
    min-height: 70px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 16px;
    background-color: black;
    color: white;
    margin-bottom: 1.5em;
}




/* ############ dynamic ############ */

#dynamic{
    /* background-color: red; */
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1000;
}

#dynamic header{
    background-color: red;
    background-color: rgba(224, 224, 224, .25)
}